/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'cookfont';  /* Project id 5215640 */
  src: url('//at.alicdn.com/t/c/font_5215640_rga2no5832.woff2?t=1787994387775') format('woff2'),
       url('//at.alicdn.com/t/c/font_5215640_rga2no5832.woff?t=1787994387775') format('woff'),
       url('//at.alicdn.com/t/c/font_5215640_rga2no5832.ttf?t=1787994387775') format('truetype');
}

.cookfont {
    font-family: "cookfont" !important;
    font-size: 40rpx;
    font-style: normal;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    color: var(--color-primary);
}

.icon-close::before {
    content: "\e60d";
}

.icon-back::before {
    content: "\e609";
}

.icon-homepage::before {
    content: "\e772";
}

.icon-dining-event::before {
    content: "\e625";
}

.icon-meal-event::before {
    content: "\e794";
}

.icon-plan::before {
    content: "\e61f";
}

.icon-meal-plan::before {
    content: "\e6e3";
}

.icon-shopping::before {
    content: "\e6e5";
}

.icon-ingredient::before {
    content: "\e61b";
}

.icon-pantry::before {
    content: "\e797";
}

.icon-add::before {
    content: "\e604";
}

.icon-time::before {
    content: "\e665";
}

.icon-difficulty::before {
    content: "\e6e7";
}

.icon-filter::before {
    content: "\e606";
}

.icon-filter-list::before {
    content: "\e66e";
}

.icon-drag::before {
    content: "\e60c";
}

.icon-share::before {
    content: "\e60e";
}

.icon-add-owner::before {
    content: "\e607";
}

.icon-go-recipe::before {
    content: "\e704";
}

.icon-add-list::before {
    content: "\e603";
}

.icon-edit::before {
    content: "\e608";
}

.icon-recommend::before {
    content: "\e60f";
}

.icon-self-recommend::before {
    content: "\e65b";
}

.icon-my-taste::before {
    content: "\e62f";
}

.icon-collect::before {
    content: "\e60a";
}

.icon-notice::before {
    content: "\e60b";
}

.icon-notification-center::before {
    content: "\e6e6";
}

.icon-qa::before {
    content: "\e610";
}

.icon-service::before {
    content: "\e6d1";
}

.icon-medal-right::before {
    content: "\e611";
}

.icon-medal-left::before {
    content: "\e612";
}

.icon-my-medal::before {
    content: "\e684";
}

.icon-add-plan::before {
    content: "\e613";
}

.icon-wave::before {
    content: "\e643";
}

.icon-manage::before {
    content: "\e6e4";
}

.icon-select-off::before {
    content: "\e714";
}

.icon-select-on::before {
    content: "\e715";
}

.icon-theme-skin::before {
    content: "\e70f";
}

.icon-reminder-settings::before {
    content: "\e720";
}

.icon-ingredient-units::before {
    content: "\e721";
}

.icon-account-settings::before {
    content: "\e6da";
}

.icon-about-app::before {
    content: "\e6d6";
}

.icon-policy-privacy::before {
    content: "\e789";
}

.icon-policy-user::before {
    content: "\e788";
}

.icon-tab-dining::before {
    content: "\e704";
}

.icon-tab-recipe::before {
    content: "\e711";
}

.icon-tab-me::before {
    content: "\e6d3";
}

.icon-more::before {
    content: "\e716";
}

.icon-week-sun::before {
    content: "\e602";
}

.icon-week-mon::before {
    content: "\e615";
}

.icon-kitchen-prep::before {
    content: "\e61e";
}

.icon-cooking-skills::before {
    content: "\e61c";
}

.icon-recipe-skills::before {
    content: "\e61d";
}

.icon-week-tue::before {
    content: "\e601";
}

.icon-week-wed::before {
    content: "\e618";
}

.icon-week-thu::before {
    content: "\e616";
}

.icon-week-fri::before {
    content: "\e600";
}

.icon-week-sat::before {
    content: "\e617";
}
