/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'cookfont';  /* Project id 5215640 */
    src: url('//at.alicdn.com/t/c/font_5215640_tsu7z91wskc.woff2?t=1786954076399') format('woff2'),
         url('//at.alicdn.com/t/c/font_5215640_tsu7z91wskc.woff?t=1786954076399') format('woff'),
         url('//at.alicdn.com/t/c/font_5215640_tsu7z91wskc.ttf?t=1786954076399') format('truetype');
  }

.cookfont {
    font-family: "cookfont" !important;
    font-size: 40rpx;
    font-style: normal;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    color: var(--color-primary);
}

.icon-close::before {
    content: "\e60d";
}

.icon-back::before {
    content: "\e609";
}

.icon-dining-event::before {
    content: "\e625";
}

.icon-plan::before {
    content: "\e61f";
}

.icon-shopping::before {
    content: "\e6e5";
}

.icon-ingredient::before {
    content: "\e61b";
}

.icon-add::before {
    content: "\e604";
}

.icon-time::before {
    content: "\e665";
}

.icon-difficulty::before {
    content: "\e6e7";
}

.icon-filter::before {
    content: "\e606";
}

.icon-filter-list::before {
    content: "\e66e";
}

.icon-drag::before {
    content: "\e60c";
}

.icon-share::before {
    content: "\e60e";
}

.icon-add-owner::before {
    content: "\e607";
}

.icon-go-recipe::before {
    content: "\e704";
}

.icon-add-list::before {
    content: "\e603";
}

.icon-edit::before {
    content: "\e608";
}

.icon-recommend::before {
    content: "\e60f";
}

.icon-collect::before {
    content: "\e60a";
}

.icon-notice::before {
    content: "\e60b";
}

.icon-qa::before {
    content: "\e610";
}

.icon-medal-right::before {
    content: "\e611";
}

.icon-medal-left::before {
    content: "\e612";
}

.icon-add-plan::before {
    content: "\e613";
}

.icon-wave::before {
    content: "\e643";
}

.icon-manage::before {
    content: "\e6e4";
}

.icon-select-off::before {
    content: "\e714";
}

.icon-select-on::before {
    content: "\e715";
}

.icon-more::before {
    content: "\e716";
}
