/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'cookFont';  /* Project id 5212571 */
  src: url('//at.alicdn.com/t/c/font_5212571_t99wl91oct.woff2?t=1784384940606') format('woff2'),
       url('//at.alicdn.com/t/c/font_5212571_t99wl91oct.woff?t=1784384940606') format('woff'),
       url('//at.alicdn.com/t/c/font_5212571_t99wl91oct.ttf?t=1784384940606') format('truetype');
}

.cookFont {
  font-family: "cookFont" !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home::before {
  content: "\e634";
}

.icon-recipe::before {
  content: "\e637";
}

.icon-me::before {
  content: "\e631";
}
